extends layouts/main-layout.pug

block content
  main
    h1.text-center My Product Home Page
    p.text-center List Of The Product....

    if products.length > 0
      .container
        .row.d-flex.flex-wrap
          each product in products
            .col-sm-12.col-md-3.col-lg-3.d-flex
              .card(style="width: 18rem; padding: 5px;")
                img.card-img-top(
                  src="https://media.istockphoto.com/id/1216658448/photo/stack-of-colorful-books-isolated-on-white-background-collection-of-different-books-hardback.jpg?s=612x612&w=0&k=20&c=_8yq2H5pkScnt0-DXkud4EEJKi8P0RRzZpAUSrh5lvk=", 
                  alt="Book Image")
                .card-body
                  h5.card-title.text-center= product.title
                  h5.card-title.text-center Price: $120
                  p.card-text.text-center Some quick example text to build on the card title and make up the bulk of the card's content.
                  a.btn.btn-primary.text-center(href="#") Add To Cart
    else
      h1.text-center No Product Here
