<%- include('includes/head.ejs') %>
</head>

<body>
   <%- include('includes/navigation.ejs') %>
   <main>
      <h1 class="text-center">My Product Home Page</h1>
      <p class="text-center">List Of The Product....</p>
  
      <% if (products.length > 0 ) { %>
      <div class="container">
        <div class="row d-flex flex-wrap">
          <% for (let product of products) { %>
          <div class="col-sm-12 col-md-3 col-lg-3 d-flex">
            <div class="card" style="width: 18rem; padding: 5px;">
              <img class="card-img-top" src="https://media.istockphoto.com/id/1216658448/photo/stack-of-colorful-books-isolated-on-white-background-collection-of-different-books-hardback.jpg?s=612x612&w=0&k=20&c=_8yq2H5pkScnt0-DXkud4EEJKi8P0RRzZpAUSrh5lvk=" alt="Book Image">
              <div class="card-body">
                <h5 class="card-title text-center"><%= product.title %></h5>
                <h5 class="card-title text-center">Price: $120</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary text-center">Add To Cart</a>
              </div>
            </div>
          </div>
          <!-- End product card -->
           <% } %>
        </div>
      </div>
  
      <% } else { %>
      <h1 class="text-center">No Product Here</h1>
      <% }%>
    </main>
<%- include('includes/end.ejs') %>